@charset "UTF-8";


/* root{
    --cor0: #8F6CBA;
    --cor1: #8163B2;
    --cor2: #5A4084;
    --cor3: #5A3986;
    --cor4: #54397E;

} */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;

}
header{
    background-image: linear-gradient(to bottom, #0040d1, #004098);
    background-image: url(../Sony-Logo-650x366.png);
    background-size: 590px;
    background-repeat:no-repeat;
    position: 20px;
    width: 100vw;
    height:  280px;
    padding-top: 50px;


 }
 header > img {
display: flex;
justify-content: space-between;
    
 }


header  h1 {
    text-align: center;
    color: #fff;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.705);
    font-size: 1.6rem;
    
}
header  p {
    text-align: center;
    padding: 50px;
    padding-top: 4%;
    color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514);
    line-height: 2rem;
    font-size: larger;
    margin: auto;
}
nav{
   background-color: #044880;
    display: flex;
    justify-content: flex-end;
}
nav > a{
    background-image: linear-gradient(to right, #004075);
    color: #fff;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    text-shadow: 5px 5px 5px black;
    border-radius: 5px;
    box-shadow: 0px 5px 5px;
    transition-duration: 0.3s;
}
nav > a:hover{
    background-color: #8f6cba;
    text-decoration: underline;
}
main {
    border: 5px solid #8f6cba;
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
    
    
}
body{
    background-image: linear-gradient(to bottom, #004075, #45B4E0);
}
.parte1{
    text-align: center;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    line-height: 2rem;
    text-align: justify;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.parte1 > h2{
    padding-top: 5px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    text-align: center;
}
.parte2{
    text-align: center;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    font-weight: 900;
    line-height: 2em;
}
.parte2 > h2 {
    padding-top: 5px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    text-align: center;
}

.parte3{
    text-align: center;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    font-weight: 900;
    line-height: 2em;
}
.parte3 > h2 {
    padding-top: 5px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    text-align: center;
}
.parte4{
    text-align: center;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    font-weight: 900;
    line-height: 2em;
}
.parte4 > h2{
    padding-top: 5px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    text-align: center;
}
.parte5{
    text-align: center;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    font-weight: 900;
    line-height: 2em;
}
.parte5 > h2 {
    padding-top: 5px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    text-align: center;
}
.parte6 {
    text-align: center;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    font-weight: 900;
    line-height: 2em;
}
.parte6 > h2{
    padding-top: 5px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    text-align: center;
}
.parte7{
    text-align: center;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    font-weight: 900;
    line-height: 2em;
}
.parte7 > h2{
    padding-top: 5px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 3px black;
    text-align: center;
}

footer{
    background-color: #45B4E0;
    text-align: center;
    text-shadow: 7px 7px 0px black;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}
strong{
    color: rgb(155, 36, 36);
    text-shadow: 2px 2px 5pxr rgba(0, 0, 0, 0.384);
}
strong.especial{
    color: white;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.671);
}
strong.teste{
    color: #ccc;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.966);
}
strong.azul{
    color: #45B4E0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}
strong.verde{
    color: rgb(65, 161, 65);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}
strong.choco{
    color: chocolate;
    
}
strong.amarelo{
    color: yellowgreen;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
}
strong.laranja {
    color: orange;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
}
strong.mistura{
    color: #004098;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
}
strong.mistura1{
    color: cadetblue;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
}
picture > img {
    padding-left: 170px;
   margin-top: 20PX;
   margin-bottom: 20PX;
    width: 50%;
     
}

 a {
    text-decoration: none;
    color: #45B4E0;
 }

 a:hover {
    text-decoration: underline;
 }

 a.externo::after{
    content: "\1f517";
 }