@charset "UTF-8";


/* root{
    --cor0: #8F6CBA;
    --cor1: #8163B2;
    --cor2: #5A4084;
    --cor3: #5A3986;
    --cor4: #54397E;

} */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    box-sizing: border-box;
   
   

}
header  img {
  height: 100px;
}

 header{  
    background: url(../GOWRagkratosart1.jpg);
    background-size:contain;
    background-repeat: repeat-x;
    text-align: center;
    width: 100vw;
    height:  420px;
    padding-top: 50px;
 }

 body{
   background:  #202020;

}


header  h1 {
    text-align: center;
    color: #fff;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.705);
    font-size: 1.6rem;
    
}
header  p {
    text-align: center;
    padding: 55px;
    padding-top: 4%;
    color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514);
    line-height: 2rem;
    font-size: larger;
    margin: auto;
} 
nav.menu-lateral{
    width: 60px;
    height: 100%;
    background-color: transparent;
    padding: 40px 0 40px  1%;
    box-shadow: 3px 0 0 transparent;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}
nav.menu-lateral.expandir{
    width: 300px;
}
nav.menu-lateral.expandir  .texto{
    margin-left: 70px;
    opacity: 1;

}
div.expandir{
    width: 100%;
    padding-left: 10px;
}
div.expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul .mover{
    transition: 0.4s;
}
ul li.ativo{
    background-color: #FF0077;
}
ul li.mover:hover{
    background-color: #FF0077;
}
ul li.mover a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 30px;

}
ul  li.mover a .texto{
    margin-left: 40px;
    transition: 1s;
    opacity: 0;
}
ul li.mover a .icon{
    font-size: 30px;
    margin-left: 10px;
}


main {    
    border: 5px solid #8f6cba;
    max-width: 1080px;
    min-width: 300px;
    margin: auto;
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
}


.parte1{
    text-align: center;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    line-height: 2rem;
    text-align: justify;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.parte1 > h2{
    padding-top: 5px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    text-align: center;
}
.parte2{
    text-align: center;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    font-weight: 900;
    line-height: 2em;
}
.parte2 > h2 {
    padding-top: 5px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    text-align: center;
}

.parte3{
    text-align: center;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    font-weight: 900;
    line-height: 2em;
}
.parte3 > h2 {
    padding-top: 5px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    text-align: center;
}
.parte4{
    text-align: center;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    font-weight: 900;
    line-height: 2em;
}
.parte4 > h2{
    padding-top: 5px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    text-align: center;
}
.parte5{
    text-align: center;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    font-weight: 900;
    line-height: 2em;
}
.parte5 > h2 {
    padding-top: 5px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    text-align: center;
}
.parte6 {
    text-align: center;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    font-weight: 900;
    line-height: 2em;
}
.parte6 > h2{
    padding-top: 5px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    text-align: center;
}
.parte7{
    text-align: center;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    font-weight: 900;
    line-height: 2em;
}
.parte7 > h2{
    padding-top: 5px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 3px black;
    text-align: center;
}

footer{
    background-color: #45B4E0;
    text-align: center;
    text-shadow: 7px 7px 0px black;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}
strong{
    color: rgb(155, 36, 36);
    text-shadow: 2px 2px 5pxr rgba(0, 0, 0, 0.384);
}
strong.especial{
    color: white;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.671);
}
strong.teste{
    color: #ccc;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.966);
}
strong.azul{
    color: #45B4E0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}
strong.verde{
    color: rgb(65, 161, 65);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}
strong.choco{
    color: chocolate;
    
}
strong.amarelo{
    color: yellowgreen;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
}
strong.laranja {
    color: orange;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
}
strong.mistura{
    color: #004098;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
}
strong.mistura1{
    color: cadetblue;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
}

#card{
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transition: 0.9s;
}
#card2{
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: 0.9s;
}
#card3{
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: 0.9s;
}
#card4{
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: 0.9s;
}
#card5{
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: 0.9s;
}
#card6{
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: 0.9s;
}
#card7{
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: 0.9s;
}
.face{
    display: flex;
    align-items: center;
    justify-content: center;
}

#front{
    transform: rotateY(180deg);
}
#front2{
    transform: rotateY(180deg);
}
#front3{
    transform: rotateY(180deg);
}
#front4{
  transform: rotateY(180deg);
}
#front5{
    transform: rotateY(180deg);
  }
  #front6{
    transform: rotateY(180deg);
  }
  #front7{
    transform: rotateY(180deg);
  }

.flip {
    transform: rotateY(180deg);
}

 a {
    text-decoration: none;
    color: #45B4E0;
 }

 a:hover {
    text-decoration: underline;
 }

 a.externo::after{
    content: "\1f517";
 }

 @media  screen and (max-width: 668px) {

    header{  
        background: url(../GOWRagkratosart1.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        text-align: center;
        width: 100vw;
        height:  300px;
        padding-top: 50px;
     }
     picture > img {
        display: flex;
        padding-left: 50px;
        justify-content: center;
        align-items: center;
        margin: 20px 20px 20px 20px;
        margin-top: 20PX;
        margin-bottom: 20PX;
          
     }
     .frente{
        width: 180px;
     }
    
    
     .tras {
        width: 180px;
     }
     .tras2 {
        width: 130px;
     }
     
   
     .parte1{
        margin: 15px 15px;
     }
     .parte2{
        margin: 15px 15px;
     }
     .parte3{
        margin: 15px 15px;
     }
     .parte4{
        margin: 15px 15px;
     }
     .parte5{
        margin: 15px 15px;
     }
     .parte6{
        margin: 15px 15px;
     }
     .parte7{
        margin: 15px 15px;
     }
     
     
     header img {
        height: 50px;
     }
     header p {
        font-size: 0.65rem;
     }

    
    main {
        border: 5px solid #8f6cba;
        max-width: 900px;
        min-width: 600px;
        padding-top: 100px;
        margin: auto;
        background-color: #fff;
        border-radius: 0px 0px 20px 20px;
    }
    nav.menu-lateral{
       position: absolute;
        width: 60px;
        height: 100%;
        background-color: transparent ;
        padding: 40px 0 40px  1%;
        box-shadow: 3px 0 0 transparent;
        overflow: hidden;
        transition: 0.5s;
    }
    nav.menu-lateral.expandir{
        width: 300px;
    }
    nav.menu-lateral.expandir  .texto{
        margin-left: 70px;
        opacity: 20;
    
    }
    div.expandir{
        width: 100%;
        padding-left: 10px;
    }
    div.expandir > i{
        color: red;
        font-size: 25px;
        cursor: pointer;
    }
    ul{
        height: 30%;
        list-style-type: none;
    }
    ul .mover{
        transition: 0.4s;
    }
    ul li.ativo{
       display: none;
    }
    ul li.mover:hover{
        background-color: black;
    }
    ul li.mover a {
        color: red;
        text-decoration: none;
        font-size: 10px;
        padding: 20px 4%;
        display: flex;
        margin-bottom: 10px;
        line-height: 30px;
    
    }
    ul  li.mover a .texto{
        margin-left: 40px;
        transition: 1s;
        opacity: 0;
    }
    ul li.mover a .icon{
        font-size: 30px;
        margin-left: 10px;
    }
        
    }
  
    @media screen and (max-width: 998px) {

            header{  
                background: url(../GOWRagkratosart1.jpg);
                background-size:cover;
                background-repeat: no-repeat;
                text-align: center;
                width: 100vw;
                height:  300px;
                padding-top: 50px;
             }
             picture > img {
                display: flex;
                padding-left: 50px;
                justify-content: center;
                align-items: center;
                margin: 20px 20px 20px 20px;
                margin-top: 20PX;
                margin-bottom: 20PX;
                width: 70%;
                  
             }
             .frente{
                width: 180px;
             }
            
             .tras {
                width: 180px;
             }
             .tras2 {
                width: 130px;
             }
        
        
           
             .parte1{
                margin: 15px 15px;
             }
             .parte2{
                margin: 15px 15px;
             }
             .parte3{
                margin: 15px 15px;
             }
             .parte4{
                margin: 15px 15px;
             }
             .parte5{
                margin: 15px 15px;
             }
             .parte6{
                margin: 15px 15px;
             }
             .parte7{
                margin: 15px 15px;
             }
             
             
             header img {
                height: 50px;
             }
             header p {
                font-size: 0.65rem;
             }
        
            main {    
                border: 5px solid #8f6cba;
                max-width: 900px;
                min-width: 300px;
                padding-top: 100px;
                margin: auto;
                background-color: #fff;
                border-radius: 0px 0px 20px 20px;
            }
            nav.menu-lateral{
               position: absolute;
                width: 60px;
                height: 100%;
                background-color: transparent ;
                padding: 40px 0 40px  1%;
                box-shadow: 3px 0 0 transparent;
                overflow: hidden;
                transition: 0.5s;
            }
            nav.menu-lateral.expandir{
                width: 300px;
            }
            nav.menu-lateral.expandir  .texto{
                margin-left: 70px;
                opacity: 20;
            
            }
            div.expandir{
                width: 100%;
                padding-left: 10px;
            }
            div.expandir > i{
                color: red;
                font-size: 25px;
                cursor: pointer;
            }
            ul{
                height: 30%;
                list-style-type: none;
            }
            ul .mover{
                transition: 0.4s;
            }
            ul li.ativo{
               display: none;
            }
            ul li.mover:hover{
                background-color: black;
            }
            ul li.mover a {
                color: red;
                text-decoration: none;
                font-size: 10px;
                padding: 20px 4%;
                display: flex;
                margin-bottom: 10px;
                line-height: 30px;
            
            }
            ul  li.mover a .texto{
                margin-left: 40px;
                transition: 1s;
                opacity: 0;
            }
            ul li.mover a .icon{
                font-size: 30px;
                margin-left: 10px;
            }
                
            
    }    
    
    
     
